
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,20,46,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);

}
.nav__menu{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 15px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,20,46,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
  
}
.nav__list{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav__link{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0 0 0 15px;
  transition: .2s ease-in-out;
}
.nav__link:hover{
  color: aqua;
}

.nav__link::before{
  content: '';
  position: absolute;
  background-color: aqua;
  bottom: 1px;
  width: 0%;
  height: 0px;
  transition: .3s ease-in-out;
}
.nav__link:hover::before{
  color: aqua;
  width: 100%;
  height: 2px;
}
.nav__link i{
  display: none;
  font-size: 25px;
}
.nav__logo{
 font-size: 20px;
 margin-left: 20px;
 text-decoration: none;
 color: white;
 font-weight: bold;
}
.space{
  height: 8vh;
}
@media screen and (max-width: 700px){
  .container{
    background-color: #021D3B;
    position: fixed;
    height: 8vh;
  }
  .nav__menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9vh;
    background-color: #021D3B;
  }
  .nav__list{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
  }
  .nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
  }
  .nav__link:hover::before{
    height: 0;
  }
  .nav__link i{
    display: flex;
    font-size: 25px;
  }
  .nav__logo{
   font-size: 20px;
   margin-left: 15px;
   text-decoration: none;
   color: white;
  }

}