@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,63,144,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

/* Estilos específicos para el panel principal de administración general*/
.converter{
  display: flex;
  position: fixed;
  top: 8vh;
  width: 100%;
  height: 22vh;
  justify-content: end;
  flex-direction: column;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,63,144,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}
.container__main{
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
#Resultado{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  color: wheat;
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  padding: 0 0 0 5px;
}
/*contenedor de los datos*/
.usd_data{
display: flex;
margin-left: 15px;
flex-direction: column;
}
.usd_data h1{
  font-size: 20px;
}
/* contenedor de los Botones*/
.serie_btns{
  display: flex;
  margin-bottom: 10px;
  margin-left: 15px;
}
.add {
  --color: rgb(14, 118, 167);
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 35px;
  line-height: 2.5em;
  overflow: hidden;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.add::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.add:hover {
  color: white;
}

.add:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.add:hover::before {
  top: -30px;
  left: -30px;
}
h1{
  color: white;
}

/*Modal de agregar presupuesto*/
.modal_one{
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #3f4c6b3d;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}
/*Modal donde agrego las ganancias*/
.modal__add{
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #3f4c6b3d;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}
/*Modal delete*/
.modal_delete{
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #3f4c6b3d;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}


.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,20,46,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
  border-radius: 15px;
  box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
  max-width: 320px;
  max-height: 300;
}

.info {
  margin-bottom: 10px;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.description {
  color: #fff;
  margin-top: 10px;
  font-size: 15px;
}
.newInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input_field{
  display: flex;
  flex-direction: column;
  position: relative;
}
.input_field i{
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 25px;
  color: white;
}
.input_field .i{
  position: absolute;
  top: 14px;
  left: 5px;
  font-size: 20px;
}

.newInputs input{
  display: flex;
  width: 250px;
  height: 45px;
  padding: 0 0 0 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.63);
}
.newInputs .value{
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100px;
  align-items: center;
  text-align: center;
  height: 35px;
  background-color: #3f4c6b;
  color: white;
  margin-top: 5px;
  transition: .3s ease-in-out;
}
.value:hover{
  color: black;
  background-color: white;
}
.end{
  display: flex;
  justify-content: end;
}
.mostrar{
  display: flex;
}
.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #3f4c6b;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 5px;
  transition: .3s ease;
}

.edit:hover {
  background-color: rgba(255, 255, 255, 0.89);
  color: black;

}
/*Sección de espacio para que no se sobreponga*/
.space{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
}
/*Seccion del historial general de las transacciónes*/
.section_history {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,63,144,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);

}

.section_history h1 {
  text-align: center;
  color: #ffffff;
}



.history_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 0 10px 0px 10px;
}


.history_item span {
  color: #fff;
  font-weight: bold;
}
/* Estilo para Presupuesto y Ganancia (color azul) */
/* Estilo para Presupuesto y Ganancia (color azul) */
.history_item span.amount {
  color: rgb(0, 195, 255);
}

/* Estilo para Gasto (color rojo) */
.history_item.gasto span.amount {
  color: red;
}


/* Estilos adicionales para el botón de eliminar */

.delete_btn {
  background-color: #e44d26;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.delete_btn:hover {
  background-color: #c5381f;
}



/*Formulario de el modal add presupuesto*/

@media screen and (max-width:768px) {
  /*dashborad admin*/
  .converter{
    display: flex;
    position: fixed;
    top: 8vh;
    width: 100%;
    height: 20vh;

  }
  .space{
    width: 100%;
    height: 28vh;
  }
}